{% extends "base.html" %}

{% block content %}
    {% set lifeH = 30 %}
    {% set lifeW = 40 %}

    <style>
     table.life {
         width: {{ lifeW }}em;
         height: {{ lifeH }}em;
         border: 1px solid;
         border-radius: 5px;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 3rem;
     }
    </style>
    <script lang="javascript">
     w = {{ lifeW }};
     h = {{ lifeH }};
     function cell(i,j) {
         element = document.getElementById("cell-" + i + "-" + j);
         return element;
     }
     function isblack(cell) {
         return cell.style.backgroundColor == "black";
     }
     function setblack(cell) {
         cell.style.backgroundColor = "black";
     }
     function setwhite(cell) {
         cell.style.backgroundColor = "white";
     }
     function countblack(map,y,x) {
         n = 0;
         for (var i=-1; i<=1; i+=1) {
             for (var j=-1; j<=1; j+=1) {
                 if (y+i >= 0 && y+i < h) {
                     if (x+j >= 0 && x+j < w) {
                         if (!(i == 0 && j == 0))
                             n += map[y+i][x+j];
                     }
                 }
             }
         }
         return n;
     }
     function evolve() {
         current = [];
         for (var i = 0; i < h; i+=1) {
             line = [];
             for (var j = 0; j < w; j+=1) {
                 line.push(isblack(cell(i,j)));
             }
             current.push(line);
         }
         for (var i = 0; i < h; i+=1) {
             for (var j = 0; j < w; j += 1) {
                 n = countblack(current, i, j);
                 if (current[i][j]) {
                     alive = ((n == 2) || (n == 3));
                 } else {
                     alive = (n == 3);
                 }
                 if (alive) {
                     setblack(cell(i, j));
                 } else {
                     setwhite(cell(i, j));
                 }
             }
         }
     }
     function life_init() {
         for (var i = 0; i < h; ++i) {
             for (var j = 0; j < w; ++j) {
                 if (Math.random() < 0.3) {
                     setblack(cell(i,j))
                 } else {
                     setwhite(cell(i,j))
                 }
             }
         }
     }
     function inverse(i,j) {
         element = document.getElementById("cell-" + i + "-" + j);
         if (element.style.backgroundColor == "white") {
             element.style.backgroundColor = "black";
         } else {
             element.style.backgroundColor = "white";
         }
     }
     function life_setup() {
         life_init();
         setInterval(evolve, 600);
         setInterval(life_init, 60000);
     }
     window.onload = life_setup;
    </script>
    <table class="life">
        {% for i in range(end=lifeH) -%}
            <tr>
                {% for j in range(end=lifeW) -%}
                    <td id="cell-{{i}}-{{j}}" onclick="inverse({{i}},{{j}})" bgcolor="white"></td>
                {% endfor -%}
            </tr>
        {% endfor -%}
    </table>
    <!-- Dedicated to John Conway -->
{% endblock %}


{% block footer %}
{% endblock %}
